body {
    margin: 0;
    padding: 0;
    font-family: liberation_sans, sans-serif;
    background-color: #e5ecf6;
    color: #333;
}

header {
    background-color: #55a4f8;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 0px 20px;
    border: 2px solid #c8c8c8;
    border-radius: 10px;
}

.position {
    font-size: 28px;
    margin-bottom: 10px;
}

.sun {
    font-size: 24px;
    margin-bottom: 10px;
}

#plot {
    margin-top: 30px;
}

footer {
    background-color: #e5ecf6;
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}

.footer-text {
    font-size: 14px;
    margin: 0;
}

a {
    color: #55a4f8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sun {
    text-align: center;
    margin: 10px 0;
    line-height: 1.5;
}