<!DOCTYPE html>
<html>

<head>
    <title>OAEM-API</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Obstruction Adaptive Elevation Mask API</h1>
        <h3 id="position">Current Position: Waiting For Geolocation Data...</h3>
        <h3 id="sunvisibility">Sun Visibility Currently Not Available</h3>
    </div>

    <div id="plot"></div>

    <footer style="text-align: center;">
        <p><a href="/privacy_policy">Datenschutzerklärung</a> • <a href="https://github.com/gereon-t/oaemapi">Code</a> •
            Version {{ version
            }}
        </p>
    </footer>

    <script src="static/request_oaem.js"></script>
</body>

</html>